<@pageAdmin>
<style>
	#header{
		position: relative;
	}
	a {
    	text-decoration: none;
    	color: #0645ad;
    	background: none;
	}
	.error {
		color: red;
	}
</style>


<div class="form-container">
	<div class="container">
	<#if errorMessage?has_content>
		<h4 class="error">${errorMessage!}</h4>
	</#if>
	<#if loggedInUser?has_content>
		<h3>
			Welcome ${loggedInUser.username!}
		</h3>
	<#else>
		<h3>Sign Up</h3>
		<form action="signup" method="post">
			<div class="col-xs-4">
				<div class="form-group">
					<label for="username">User Name:</label>
					 <input type="text" class="form-control" id="username" name="username" required>					
				</div>
				<div class="form-group">
					<label for="password">Password:</label> <input type="password" class="form-control" id="password" name="password" required>
				</div>
				<div class="form-group">
					  <input type="submit" value="Create Account">
				</div>
			</div>
		</form>
	</#if> 
  </div>
</div>
</@pageAdmin>