<@pageAdmin>
<div class="container" style="background-color:white;min-height:600px">
	
	
	
	
	<h3>Academic governing Council</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addFacultyModal" data-page=${pageName!} data-field_name=${governingCouncilFacultyFieldName!}>
		Add Faculty
	</a>
	<@facultyMacro facultyList=academicGoverningCouncilFacultyList/>
	
	
	
	
</div>





</@pageAdmin>