<@pageAdmin>
<div class="container-fluid" style="background-color:white;min-height:600px">
<h3>Accreditation and Approvals</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addGalleryModal" data-page=${pageName!} data-field_name=${approvalsMouSignedFieldName!}>
		Add
	</a>
	<@galleryMacro galleryList=approvalsMouSignedList/>

    </div>
</@pageAdmin>