<@pageAdmin>
<div class="container" style="background-color:white;min-height:600px">
	
	
	<h3>Anti Ragging Squad</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addFacultyModal" data-page=${pageName!} data-field_name=${facultyFieldName!}>
		Add Faculty
	</a>
	<@facultyMacro facultyList=facultyList/>
	
	
	
</div>
</@pageAdmin>