
<@pageAdmin>
<div class="container" style="background-color:white;min-height:600px">

<h3>Documents required for Admissions</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addGalleryModal" data-page=${pageName!} data-field_name=${feeStructureFieldName!}>
		Add fees
	</a>
	<@galleryMacro galleryList=feeStructureList/>
	
	
</div>
</@pageAdmin>