<@pageAdmin>
<div class="container" style="background-color:white;min-height:600px">
	
	
	<h3>Public Press </h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addEventModal" data-page=${pageName!} data-field_name=${publicPressFieldName!}>
		Add Event
	</a>
	<@eventMacro eventList=publicPressList/>
	
	
</div>
</@pageAdmin>