<@pageAdmin>
<div class="container" style="background-color:white;min-height:600px">
	
	
	<h3>Gallery</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addGalleryModal" data-page=${pageName!} data-field_name=${galleryFieldName!}>
		Add Event
	</a>
	<@galleryMacro galleryList=galleryList/>
	
	<!-- <h3>Upcoming Events</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addDataModal" data-page=${pageName!} data-field_name=${upComingEventsFieldName!}>
		Add Data
	</a>
	<@dataMacro dataList=upComingEventsDataList/>-->
	
	<h3>Events</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addEventModal" data-page=${pageName!} data-field_name=${redcrossEventFieldName!}>
		Add Event
	</a>
	<@eventMacro eventList=redcrossEventList/>
		
	
	<h3>Achievements</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addEventModal" data-page=${pageName!} data-field_name=${redcrossAchievementsFieldName!}>
		Add 
	</a>
	<@eventMacro eventList=redcrossAchievementsList/>
	
	<h3>Reports</h3>
	<a href="#" class="tooltips" data-toggle="modal" data-target="#addGalleryModal" data-page=${pageName!} data-field_name=${redcrossReportsFieldName!}>
		Add
	</a>
	<@galleryMacro galleryList=redcrossReportsList/>
	
	
	
</div>
</@pageAdmin>