.testimonial{
    text-align: center;
    padding: 170px 20px 10px;
    margin-top: 170px;
    margin-bottom: 1px;
    border-top: 5px solid #4b489b;
    position: relative;
}
.testimonial:before{
    /*content: "\f10d";*/
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    color: #4b489b;
    opacity: 0.5;
}
.testimonial .pic{
    width: 300px;
    height: 300px;
    border: 5px solid #4b489b;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
    transition: all ease-in 0.3s;
}
.testimonial .pic img:hover{
    transform: scale(1.1);
    border: 5px solid #4b489b;
    transition: all ease-in 0.3s;
}
.testimonial .description{
    font-size: 14px;
    color: #6f6f6f !important;
    line-height: 25px;
    margin-bottom: 30px;
}
.testimonial .testimonial-title{
    display: block;
    text-align: center;
    font-size: 22px;
    color: #4b489b;
    margin: 0;
}
.testimonial .post{
    display: block;
    font-size: 12px;
    color: #6f6f6f;
    margin-top: 7px;
}
.owl-theme .owl-controls .owl-page span{
    width: 20px;
    height: 3px;
    background: #4b489b;
}
@media only screen and (max-width: 479px){
    .testimonial{ padding: 150px 15px 5px; }
    .testimonial::before{ top: 10px; }
    .testimonial .pic{
        width: 250px;
        height: 250px;
        top: -125px;
    }
}