#header{
	position: relative;
}
h3 {
	font-family: inherit;
	text-align: justify;
	color: #f5a04d;
	font-size: 17px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #0000001a;
  }
a {
   	text-decoration: none;
   	color: #0645ad;
   	background: none;
	transition: all ease 0.3s;
	font-weight: 500 !important;
}
a:hover{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.275);
}
.tooltips{
	border: 1.5px solid #0645ad;
	box-shadow: 1.5px 1.5px 0px rgb(0 0 0 / 18%);
	border-radius: 3px;
	padding: 2px 2px 2px 2px;
	transition: all ease-in 0.3s !important;
}
.tooltips:hover{
	background-color: #0645ad;
	text-shadow: 0 0 5px #000;
	box-shadow: none;
	color: #fff;
}
.tooltips:focus{
	background-color: #0645ad;
	color: rgba(255, 255, 255, 0.531);
	box-shadow: none;
}
@media screen and (max-width: 768px){
  a {
		text-decoration: none;
		color: #0645ad;
		background: none;
	 	transition: all ease 0.3s;
	 	font-weight: 500 !important;
		font-size: 12px !important;
    }
 .tooltips{
	border: 1px solid #0645ad;
	box-shadow: 1.5px 1.5px 0px rgb(0 0 0 / 18%);
	border-radius: 3px;
	padding: 1px 2px 1px 2px;
	transition: all ease-in 0.3s !important;
    }
}
.table-striped {
	width: 100% !important;
	margin-bottom: 50px;
	margin-top: 10px;
}
.modal-title{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.646);
}
.divInRight {
   	float: right;
}
.pager {
	padding-left: 0;
   	margin: 20px 0;
   	list-style: none;
   	text-align: center;
}
.error {
	color: red;
}

.mymodal{
	display: none;
    position: fixed;
    z-index: 99999 !important;
    padding-top: 0px;
    left: 7%;
    top: 0%;
    width: 80%;
    min-height: 600px;
    overflow: hidden;
    border: 1px solid transparent !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border:none;
}

.form-container{
	min-height:400px;
	background-color: #fefefe;
}

@media screen and (min-width:400px) and (max-width:500px) {
.form-container{
	min-height:365px;
	background-color: #f9f9f9;
	/*transform: translate(19%, 15px);*/
}
}

