
#quick_facts_life{
	font-size: 16px;	
}

#KSSEMTabs{
	margin-bottom: 2.7px;
}

.tabcontent{
	 background-color: #0d5774; 
	/*background-color: #0c2b5a;*/
	outline: 3px solid #fff;
}

.tabcontent .tabtitle{
	color: #faba00;
}
.tabpadding{
padding :15px;
color: #fff;
}
#KSSEMTabs img{
	height: 45px;
    width: 45px;
}
#KSSEMTabs>li.active>a, #KSSEMTabs>li>a:focus, #KSSEMTabs>li>a:hover, #KSSEMTabsContent button{
	background-color: #faba00;
	outline: 3px solid #fff;
}

#KSSEMTabsContent button{
	color: #fff;
	text-shadow: 1px 1px 2px #333;
}

#KSSEMTabsContent button:hover{
	background-color: #181973; 
}

#KSSEMTabsContent h5{
	margin: 0 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

#quickLinks a{
	color: #fff;
	background: #171973;
	border: 1px solid #faba00;
	font-size: 1.5rem;
}
@media (max-width:500px){
	#quickLinks a{
		font-size: 0.7rem;
		text-align: center;
}}
