

.container-program {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
 /* background-color: #073d57; */
  color: white;
}



.program-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Grid Section */
.program-grid {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.program-grid-item {
  background-color: #0d5774;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.program-grid-item:hover {
  background-color: #fabf00;
  font-weight: 600;
  color:#000;
  transform: scale(1.05);
}

.program-grid-item:active {
  background-color: #fabf00;
}

/* Details Section */
.program-details-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  /*gap: 20px; */
}

.program-details-text {
  text-align: left;
}

.program-details-text h2 {
    color: #fabf00;
    text-align: center;
    margin-bottom: -5px;
    margin-top: 10px;
    line-height: 30px;
}

.program-details-text p {
  margin:10px 0;
}

.program-details-image img {
  width: 100%;
  border-radius: 10px;
}

button {
  background-color: #aa2222;
  color: #fff;
  border: solid;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fabf00;
  color:#000;
  border: solid #fff;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .program-content-wrapper {
    flex-direction: column; /* Stack the grid and details section */
    align-items: center;
  }

  .program-grid {
    width: 100%; /* Full width for smaller screens */
    grid-template-columns: 1fr; /* Single column layout */
  }

  .program-details-section {
    width: 100%; /* Full width for details section */
    text-align: center; /* Center-align text and image */
  }

  .program-details-text p {
    margin: 15px 0; /* Slightly reduce spacing */
  }

  button {
    font-size: 14px; /* Adjust button size */
  }

  .program-grid-item:active {
    background-color: #fabf00;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px; /* Reduce title size */
  }

  .grid-item {
    padding: 10px; /* Reduce padding for smaller screens */
    font-size: 14px;
  }

  button {
    padding: 8px 12px; /* Smaller buttons for narrow screens */
  }

  .program-grid-item:active {
    background-color: #fabf00;
  }
}
