.c-carousel img {
  display: block;
  height: 140px;
  width:270px;
  padding:10px;
  margin-right: 10px;
}

.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}
.c-carousel__arrow {
  width: 25px;
  height: 35px;
  position: absolute;
  top: 30%;
  z-index: 1;
  /*-webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);*/
  background-color: rgba(255, 255, 255, 0.576);
}
.c-carousel__arrow:hover{
  background-color: rgba(0, 0, 0, 0.822);
  color: #fff;
}
.c-carousel__arrow--left {
  left: 15px;
}
.c-carousel__arrow--right {
  right: 15px;
}
.c-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}
