.carousel-control.left, .carousel-control.right {
background-image:none !important;
}
.carousel-inner .item img {
	width: 100%;
    height: 380px;
}
.carousel-indicators {
bottom:5px;
left:10px;
width:auto;
padding:5px 25px 5px 25px;
margin-left:0;
/*background:rgba(0,0,0,0.7);*/
}
.carousel-indicators li {
border-radius:0;
width:8px;
height:8px;
background:#fff;
}
.carousel-indicators .active {
width:10px;
height:10px;
background:#171973;
border-color:#39b3d7;
transition: ease-in 0.3s;
}
 
.carousel-control {
background:    transparent;
color:#fff;
padding: 4px 0;
width:26px;
top:auto;	
left:auto;
bottom:12px;
opacity:0.85;
text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.carousel-control :hover {
    padding:5px;
	background:rgba(0, 0, 0, 0.485);
}
.carousel-control.right {
right:20px;
}
 
.carousel-control.left {
right: 60px;
}

.carousel-caption {
top:60%;
width:auto;
right:auto;
bottom:60px;
left:5%;
padding:20px;
background:rgba(0,0,0,0.70);
text-align:left;
height:auto;
max-width:50%;
}
@media screen and (max-width:767px) {
    .carousel-caption {
        top:55%;
        width:auto;
        right:auto;
        bottom:60px;
        left:5%;
        padding:20px;
        background:rgba(0,0,0,0.70);
        text-align:left;
        height:auto;
        max-width:50%;
        }
}