.stellarnav.dark { background: radial-gradient(circle, #171973, #08094a); }
.menuactive {
 /*	background: #1d2093; */
 	background: linear-gradient(90deg,#faca00 40%,#faba00 );
	color: #000 !important;
 }
.childactive {
	background: #1d2093;
	color: #fff;
	animation: selected forwards 1.2s;
	transition: all ease-in 1s;
 }
 @keyframes selected {
	from{background: #1d2093;}
	to{background: #2a2fd6;}
 }
.menublink, .childblink {
	background: #1d2093;
	color: #fff;
}
.menublink-glow {
	background-color: #171973;
	-webkit-border-radius: 10px;
	border-radius: 0px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
	0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
	0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
 
/*.header { text-align: center; }
.header a { padding: 10px 0 0; display: block; font-size: 14px; text-decoration: none; color: #555; }
.header p { margin: 10px 0 10px 0; font-size: 14px; }*/
/*.container { max-width: 1200px; margin: 0 auto; }*/

@media only screen and (max-width : 1000px) {
	.stellarnav > ul > li > a { padding: 20px 23px; }
}
 
/* all nav */
.stellarnav { position: relative; width: 100%; z-index: 9900; line-height: normal; }
.stellarnav a { color: #fff; }
.stellarnav ul {text-align: center; padding-left: 0.5px; padding-right: 0.5px; padding-top: 0.5px; padding-bottom: 0.5px;}
.stellarnav li { list-style: none; display: block; position: relative; line-height: normal; vertical-align: middle; }
.stellarnav li a { border-bottom: 1px solid grey; padding: 7px; display: block; text-decoration: none; color: #fff; font-size: inherit; font-family: inherit; box-sizing: border-box; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; transition: all .3s ease-out; }
@media screen and (max-width:961px) {
	.stellarnav li a { border-bottom: 1px solid grey; padding: 14px !important; display: block; text-decoration: none; color: #fff; font-size: inherit; font-family: inherit; box-sizing: border-box; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; transition: all .3s ease-out; }
}
/* main level */
.stellarnav > ul > li { display: inline-block;  }
.stellarnav > ul > li > a { padding: 8px 2px; }
@media screen and (min-width:1340px) {
	.stellarnav > ul > li > a { padding: 10px 8px; }
}
/* first level dd */
.stellarnav ul ul { top: auto; width: 220px; position: absolute; z-index: 9900; text-align: left; display: none; background: #ddd; }
.stellarnav li li { display: block; }

/* second level dd */
.stellarnav ul ul ul { top: 0; /* dd animtion - change to auto to remove */ left: 220px; }
.stellarnav > ul > li:hover > ul > li:hover > ul { opacity: 1; visibility: visible; top: 0; }

/* .drop-left */
.stellarnav > ul > li.drop-left > ul { right: 0; }
.stellarnav li.drop-left ul ul { left: auto; right: 220px; }

/* dark theme */
/*.stellarnav { background: radial-gradient(circle, #f69c42, #fa9836);} */
.stellarnav.dark { background: linear-gradient(270deg, #0c2b5a, #071935); }
.stellarnav.dark a { color: #FFF;cursor: pointer; }
.stellarnav.dark ul ul { background: linear-gradient(180deg, #0c2b5a, #071935); }
.stellarnav.dark li a { color: #FFF; font-size: 14px; text-shadow: 1px 1px 2px rgb(0 0 0 / 39%); font-weight: 500; }
.stellarnav.dark ul ul li a {  /* border-bottom: 1px dotted gray; */ }
.stellarnav.dark ul li a:hover, .stellarnav.dark ul li a:focus {
	background: #3b4143;
}
@media screen and (min-width:961px) {
	.stellarnav.dark ul li a:hover, .stellarnav.dark ul li a:focus {
	background: linear-gradient(90deg,#faca00 40%,#faba00 );
    color: #000;
    font-weight: 500;
	text-shadow: none;
	}
}
.stellarnav.dark ul ul li a:hover {

	background: linear-gradient(90deg,#faca00 40%,#faba00 );
	animation: blink-in alternate 0.15s;
	transition: all ease-in 0.3s;
	color: #000;
}
@media screen and (max-width:961px) {
	.stellarnav.dark ul ul li a:hover {
		background: linear-gradient(90deg,#faca00 40%,#faba00 );
		animation: blink-in alternate 0.15s;
		transition: all ease-in 0.3s;
		color: #000;
		/* height: 45px !important; */
	}
}

/*hover text animation*/
@keyframes blink-in {
	from{color: transparent;}
	to{color:rgba(255, 255, 255, 0.495);}
}
/* sticky nav */
.stellarnav.fixed {box-shadow: 0 3px 20px #0000001f; transition: box-shadow 0.5s ease-in; position: fixed; width: 100%; top: 0; left: 0; z-index: 9999; animation: opacity-change alternate 1s; opacity: 1;padding-top: 1px;padding-bottom: 1px;}
@keyframes opacity-change {
	from{opacity: 0.7;}
	to{opacity: 1;}
}

/* only used when 'scrollbarFix' is set to true in the js. This fixes horizontal scrollbar caused by the dd menus that are very long.*/
body.stellarnav-noscroll-x { overflow-x: hidden; }

/* general styling */
.stellarnav li.has-sub > a:after { 
	content: ''; 
	margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffe8d1; 
	display: inline-block; }
.stellarnav li li.has-sub > a:after {
 margin-left: 5px; 
 float: right;
 border-top: 4px solid transparent;
 border-bottom: 4px solid transparent;
 border-left: 4px solid #FFF; position: relative; top: 4px; }
.stellarnav li.drop-left li.has-sub > a:after {
	float: left;
	 margin-right: 5px; 
border-left: 0;
 border-top: 4px solid transparent; 
 border-bottom: 4px solid transparent;
  border-right: 4px solid #FFF; 
  }
.stellarnav.hide-arrows li.has-sub > a:after, .stellarnav.hide-arrows li li.has-sub > a:after, .stellarnav.hide-arrows li.drop-left li.has-sub > a:after { display: none; }
.stellarnav .menu-toggle, .stellarnav .close-menu, .stellarnav .call-btn-mobile, .stellarnav .location-btn-mobile { display: none; text-transform: uppercase; text-decoration: none; }
.stellarnav .dd-toggle { display: none; position: absolute; top: 0; right: 0; padding: 0; width: 45px; height: 45px; text-align: center; z-index: 9999; border: 0; }
.stellarnav.desktop li.has-sub a { padding-right: 0px; }
.stellarnav.desktop.hide-arrows li.has-sub a { padding-right: 15px; }
.stellarnav.mobile > ul > li > a.dd-toggle { padding: 0px; height:45.25px;}
.stellarnav li.call-btn-mobile, .stellarnav li.location-btn-mobile { display: none; }

/* svg icons */
.stellarnav svg { fill: currentColor; width: 1em; height: 1em; position: relative; top: 2px; }
/* svg icons */

.stellarnav a.dd-toggle .icon-plus { box-sizing: border-box; transition: transform 0.3s; width: 12px; height: 100%; position: relative; vertical-align: middle; display: inline-block; }
.stellarnav a.dd-toggle .icon-plus:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #777; position: absolute; top: 50%; transform: rotate(90deg); transition: width 0.3s; }
.stellarnav a.dd-toggle .icon-plus:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #777; position: absolute; }
.stellarnav li.open > a.dd-toggle .icon-plus { -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
.stellarnav.light a.dd-toggle .icon-plus:before { border-color: #000; }
.stellarnav.light a.dd-toggle .icon-plus:after { border-color: #000; }
.stellarnav.dark a.dd-toggle .icon-plus:before { border-color: #FFF; }
.stellarnav.dark a.dd-toggle .icon-plus:after { border-color: #FFF; }

.stellarnav .icon-close { box-sizing: border-box; width: 12px; height: 12px; position: relative; display: inline-block; }
.stellarnav .icon-close:before { content: ''; display: block; width: 12px; height: 0px; border-bottom: solid 3px #777; position: absolute; top: 50%; transform: rotate(45deg); }
.stellarnav .icon-close:after { content: ''; display: block; width: 12px; height: 0px; top: 50%; border-bottom: solid 3px #777; position: absolute; transform: rotate(-45deg); }
.stellarnav.light .icon-close:before { border-color: #000; }
.stellarnav.light .icon-close:after { border-color: #000; }
.stellarnav.dark .icon-close:before { border-color: #FFF; }
.stellarnav.dark .icon-close:after { border-color: #FFF; }

/* mobile nav */
.stellarnav .menu-toggle, .stellarnav .call-btn-mobile, .stellarnav .location-btn-mobile, .stellarnav .close-menu { padding: 15px; box-sizing: border-box; }
.stellarnav .menu-toggle span.bars { display: inline-block; margin-right: 7px; position: relative; top: 3px; }
.stellarnav .menu-toggle span.bars span { display: block; width: 15px; height: 2px; border-radius: 6px; background: #777; margin: 0 0 3px; }
.stellarnav .full { width: 100%; }
.stellarnav .half { width: 50%; }
.stellarnav .third { width: 33%; text-align: center; }
.stellarnav .location-btn-mobile.third { text-align: center; }
.stellarnav .location-btn-mobile.half { text-align: right; }
.stellarnav.light .third, .stellarnav.light .half { border-left: 1px solid rgba(0, 0, 0, .15); }
.stellarnav.light.left .third, .stellarnav.light.left .half { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.stellarnav.light.right .third, .stellarnav.light.right .half { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.stellarnav.light .third:first-child, .stellarnav.light .half:first-child { border-left: 0; }
.stellarnav.dark .third, .stellarnav.dark .half { border-left: 1px solid rgba(255, 255, 255, .15); }
.stellarnav.dark.left .third, .stellarnav.dark.left .half { border-bottom: 1px solid rgba(255, 255, 255, .15); }
.stellarnav.dark.right .third, .stellarnav.dark.right .half { border-bottom: 1px solid rgba(255, 255, 255, .15); }
.stellarnav.light.left .menu-toggle, .stellarnav.light.right .menu-toggle { border-bottom: 0; }
.stellarnav.dark.left .menu-toggle, .stellarnav.dark.right .menu-toggle { border-bottom: 0; }
.stellarnav.dark .third:first-child, .stellarnav.dark .half:first-child { border-left: 0; }
.stellarnav.light .menu-toggle span.bars span { background: #000; }
.stellarnav.dark .menu-toggle span.bars span { background: #FFF; }
.stellarnav.mobile {box-shadow: none; transition: ease-out 0.4s; position: absolute; top:0; padding-top: 0.5px; padding-bottom: 0.5px;}
.stellarnav.mobile.fixed { position: fixed; box-shadow: 0 3px 20px #0000001f; transition: box-shadow 0.4s ease-in;animation: opacity-change-mobile alternate 0.5s;}
@keyframes opacity-change-mobile {
	from{opacity: 0.7;}
	to{opacity: 1;}
}
.stellarnav.mobile ul { position: relative; display: none; }
.stellarnav.mobile.active { padding-bottom: 0; }
.stellarnav.mobile.active > ul { display: block; }
.stellarnav.mobile ul { text-align: left; }
.stellarnav.mobile > ul > li { display: block;}
.stellarnav.mobile > ul > li > a { padding: 15px; }
.stellarnav.mobile ul { background: rgba(221, 221, 221, 1); }
.stellarnav.mobile ul ul { position: relative; opacity: 1; visibility: visible; width: auto; display: none; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }
.stellarnav.mobile ul ul ul { left: auto; top: auto; }
.stellarnav.mobile li.drop-left ul ul { right: auto; }
.stellarnav.mobile li a { border-bottom: 1px solid rgb(255 255 255 / 1%); }
.stellarnav.mobile > ul { border-top: 1px solid rgba(255, 255, 255, .15); }
.stellarnav.mobile.light li a { border-bottom: 1px solid rgba(0, 0, 0, .15); }
.stellarnav.mobile.light > ul { border-top: 1px solid rgba(0, 0, 0, .15); }
.stellarnav.mobile li a.dd-toggle { border: 0; }
.stellarnav.mobile.light li a.dd-toggle { border: 0; }
.stellarnav.mobile .menu-toggle, .stellarnav.mobile .dd-toggle, .stellarnav.mobile .close-menu, .stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile { display: inline-block; font-weight: 500;}
.stellarnav.mobile .menu-toggle:focus { color: #171973;font-weight: 600; }
.stellarnav.mobile li.call-btn-mobile { border-right: 1px solid rgba(255, 255, 255, .1); box-sizing: border-box; }
.stellarnav.mobile li.call-btn-mobile, .stellarnav.mobile li.location-btn-mobile { display: inline-block; width: 50%; text-transform: uppercase; text-align: center; }
.stellarnav.mobile li.call-btn-mobile.full, .stellarnav.mobile li.location-btn-mobile.full { display: block; width: 100%; text-transform: uppercase; border-right: 0; text-align: left; }
.stellarnav.mobile.light ul { background: rgba(255, 255, 255, 1); }
.stellarnav.mobile.dark ul { background: rgb(42 49 51); }
.stellarnav.mobile.dark ul ul { background: rgb(17 18 84); box-shadow: inset 0px 1px 1px rgb(0 0 0 / 25%), inset 0px -1px 1px rgb(0 0 0 / 25%);}
.stellarnav.mobile.light li.call-btn-mobile { border-right: 1px solid rgba(0, 0, 0, .1); }
.stellarnav.mobile.top { position: absolute; width: 100%; top: 0; left: 0; z-index: 9999; }
.stellarnav.mobile li.has-sub > a:after, .stellarnav.mobile li li.has-sub > a:after, .stellarnav.mobile li.drop-left li.has-sub > a:after { display: none; }

/* left and right positions */
.stellarnav.mobile.right > ul, .stellarnav.mobile.left > ul { z-index: 9999; position: fixed; top: 0; bottom: 0; width: 100%; max-width: 300px; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.stellarnav.mobile.right > ul { right: 0; }
.stellarnav.mobile.right .close-menu, .stellarnav.mobile.left .close-menu { display: inline-block; text-align: right; }
.stellarnav.mobile.left > ul { left: 0; }
.stellarnav.mobile.right .location-btn-mobile.half, .stellarnav.mobile.right .call-btn-mobile.half, .stellarnav.mobile.right .close-menu.half { text-align: center; }
.stellarnav.mobile.right .location-btn-mobile.third, .stellarnav.mobile.right .call-btn-mobile.third, .stellarnav.mobile.right .close-menu.third { text-align: center; display: none;}
.stellarnav.mobile.left .location-btn-mobile.half, .stellarnav.mobile.left .call-btn-mobile.half, .stellarnav.mobile.left .close-menu.half { text-align: center; }
.stellarnav.mobile.left .location-btn-mobile.third, .stellarnav.mobile.left .call-btn-mobile.third, .stellarnav.mobile.left .close-menu.third { text-align: center; }
.stellarnav.mobile.left .menu-toggle.half, .stellarnav.mobile.left .menu-toggle.third, .stellarnav.mobile.right .menu-toggle.half, .stellarnav.mobile.right .menu-toggle.third { text-align: left; }
.stellarnav.mobile.left .close-menu.third span, .stellarnav.mobile.right .close-menu.third span { display: none; }
/* left and right positions */

/* mega dd */
.stellarnav.desktop li.mega ul ul { background: none;}
.stellarnav.desktop li.mega li { display: inline-block; vertical-align: top; margin-left: -4px;}
.stellarnav.desktop li.mega li li { display: block; position: relative; left: 4px; }
.stellarnav.desktop li.mega ul ul { width: auto; }
.stellarnav.desktop > ul > li.mega { position: inherit; }
.stellarnav.desktop > ul > li.mega > ul { width: 100%; }
.stellarnav.desktop > ul > li.mega > ul li.has-sub ul { display: block; position: relative; left: auto; }
.stellarnav.desktop > ul > li.mega > ul > li { padding-bottom: 15px; box-sizing: border-box; }
.stellarnav.desktop li.mega li li a { padding: 5px 15px; }
.stellarnav.desktop li.mega li.has-sub a:after { display: none; }
.stellarnav.desktop > ul > li.mega > ul > li > a { color: #fff; }
/* mega dd */

@media only screen and (max-width : 1000px) {
	.stellarnav > ul > li > a { padding: 8px 2px; }
}
/* Fallback for slow javascript load */
@media only screen and (max-width : 768px) {
	.stellarnav { overflow: hidden; display: block; }
	.stellarnav ul { position: relative; display: none; }
}

/* mobile nav */
@media only screen and (max-width : 420px) {
	.stellarnav.mobile .call-btn-mobile.third span, .stellarnav.mobile .location-btn-mobile.third span { display: none; }
}


