
.ul-list {
	list-style-type: square !important;
	list-style-position: inside;
}
.img-table{
	width: 100%;
	height: 150px;
}
/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* tooltip */


/* events block */
	.events-block{
		position: relative;
	}
	.events-block .events-image{
		display: block;
		width: 300px;
	}
	
/* events block */
/* Dept title */
.dept-title h1{
	text-align: center;
	font-size:32px;
	color:#171973;
}

.dept-title p{
	text-align: center;
}

.dept-title .welcome-text {
	text-align: center;
	font-size:20px;
    padding: 0 20px 0 20px;
}

/* Dept title */


/* vertical tabs */
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
    
}
.black{
    color:#000;
}

/* modal */
body {
  padding-right: 0px !important
}


.modal-open {
  overflow-y: auto;
}

	.modal-profile{
	z-index: 9999999;
}

.modal-profile .modal-content .modal-body p{
	padding: 12px;
    font-size: 14px;
    /* font-weight: bold; */
    color: #000;
}
.modal-profile .modal-img{
	width: 250px;
	height: 250px;
}

.modal-profile .modal-footer{
	background: none;
}




.modal-backdrop.in{
	opacity: 0.1;
	z-index: -1;
}

/* modal */

/* faculty */
.faculty {
	height: auto;
	overflow: auto;
	padding: 10px;
	border-bottom: 1px solid gray;
	border-collapse: collapse;
	margin-bottom: 5px;
}

.faculty .faculty-content img{
	width: 150px;
	height: 150px;
}

.faculty .faculty-content p{
	padding:10px;
}
/* faculty */


/* achievers */
.achiever-table {
	border-bottom:1px gray solid;
}

.achiever-table tr td:first-child{
	width: 35%;
}

.achiever-table tr td img{
	width: 300px;
	height: 300px;
}


.our-achiever-main
{
	width:100%;
	height:auto;
	border-bottom:2px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-achiever-main img
{
	/* border-radius:50%; */
	margin-bottom:20px;
	width: 100%;
}

.our-achiever-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-achiever-main p
{
	margin-bottom:0;
}

.achiever-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.achiever-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-achiever-main:hover .achiever-front
{
	bottom:-260px;
	transition: all 0.5s ease;
}

.our-achiever-main:hover
{
	border-color:#777;
	transition:0.5s;
}


	
/* achievers */

/* testimonials */
	.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}
/* testimonials */

.padding{
	padding: 15px;
}

#faculty .thumb_text-details p {
	text-align: center;
}

#faculty .thumb_text-details{
	margin-top: 10px;
}

#vertical-tab .vertical-tab{
    font-family: 'Roboto', sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
   display: table-cell;
   width: 200px;
   min-width: 150px;
   /* max-width: 200px; */
    padding-top: 33px;
   border: none;
   border-right: 3px solid transparent; /* #171973 */
   position: relative;
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
}
.vertical-tab .nav-tabs li a{
    color: #ffff;
    background-color: #171973;
    padding: 7px 7px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: bolder;
    /*text-align: center;
    letter-spacing: 1px;
     padding: 15px 15px; */
    margin: 0;
    border: 1px solid #fac500;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    box-shadow: inset 0px 0px 1.5px #00000010;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #171973;
    background-color: #fac500;   /* #079992 */
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 1.5px #00000015;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after{
    content: '';
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #171973;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;*/
    opacity: 0;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    right: -10px;
    top: 100%;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:after{
    background-color: #171973;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    right: 100%;
    top: 50%;
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before{
    top: 50%;
    opacity: 1;
}
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li a:hover:after{
    right: -6px;
    opacity: 1;
}
.vertical-tab .tab-content{
	width: 90%;
    color: #000;
    font-size: 15px;
    text-align: left;
    /* line-height: 23px; */
    vertical-align: top;
    padding: 15px 15px 15px 31px;
    display: table-cell;
}
@media screen and (max-width:600px) {
    .vertical-tab .tab-content{
        width: 100%;
        color: #2c2c2c;
        font-size: 15px;
        text-align: left;
        /* line-height: 23px; */
        vertical-align: top;
        padding: 15px 10px 15px 10px !important;
        display: table-cell;
        margin: 0;
    }
}
.vertical-tab .tab-content h3{
    color: #171973;
    font-size: 18px;
    margin: 0 0 5px 0;
    text-align: left;
    margin: 20px 17px 14px 15px;
    text-transform: capitalize;
}
.vertical-tab .tab-content p{
	text-align: justify;
}


@media only screen and (max-width: 600px){
	
	.faculty-details .faculty{
	float: left;
	width: 50%;
    }

	.padding{
		padding:3px 0px 5px 0px;
	}
	
	.vertical-tab .nav-tabs{
		float: left;
    	width: auto !important;
    	border-right: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
	}
	
	.vertical-tab .nav-tabs li{
		float: left;
	}
	
	.vertical-tab .nav-tabs li a:before, .vertical-tab .nav-tabs li a:after{
		display: none;
	}
	
	.vertical-tab .nav-tabs li a {
		font-size: 12px !important;
		padding: 7px;
    	margin: 1px;
	}
	   .column {
	    width: 100%;
	    display: block;
	  }
}

@media only screen and (max-width: 479px){
	
    .vertical-tab .nav-tabs{
        display: inline;
        float:left;
       /*  width: 100%; */
        border-right: none;
    }
    .vertical-tab .nav-tabs li a{
        font-size: 12px;
        margin: 0px 1px 3px;
    }
    .vertical-tab .tab-content{
        /* display: block; */
        border-radius: 0 0 10px 10px;
    }
    .vertical-tab .tab-content h3{ font-size: 14px; }
}




/* vertical tabs */