#quote-carousel {
    padding: 0px 0px 35px 0px;
    margin-top: 30px;
	background: linear-gradient(140deg, #1d1d1d 50%, #202020 50%);
    color: #fff !important;
    border:1px solid #000;
    border-radius: 20px;
    box-shadow: inset 0 0 5px 1px rgb(255 255 255 / 9%) !important;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -40px;
}
#quote-carousel .carousel-control.right {
    right: -40px;
}
#quote-carousel .carousel-indicators {
    /* right: 50%; */
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    /* margin: 5px; */ 
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators li.achievers {
	border-radius:2px !important;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 66%);
}
.carousel-inner {
   /* min-height: 330px;*/
   min-height:0px;
}
@media screen and (max-width:768px){
    .carousel-inner {
        min-height: 0px;
        margin-bottom:0px;
    }}
.item blockquote {
    border-left: none;
    border-right: none;
    margin: 0;
    margin-bottom: 0px;
    color: #fff;
    text-shadow: none;
}
@media screen and (max-width:768px){
    .item blockquote {
        border-left: none;
        border-right: none;
        margin: 0;
        margin-bottom: 80px;
        color: #fff;
        text-shadow: none;
    }}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color:#f5a04d;
    animation: blink-light-icon-1 infinite 2s;
    transition: all ease 2.5s;
}
@keyframes blink-light-icon-1 {
    from{color:#ff8b17;text-shadow:0 0 2px #ffbd7c90;}
    to{color:#f5a14dbb;}
  }