<@page>
<section id="about">
   <div class="container">
   <div class="news_area home-4">
      <div class="row">
         <div class="col-md-12">
            <h3>NewsLetter - Chinthana Manthana</h3>
            <div class="aboutus_area wow fadeInLeft">
            
            	<p>The purpose of a newsletter is to provide specialized information to a targeted audience and also an attempt towards achieving excellence through motivatiion
            	</p>
            	<p> The Newsletter at KSIT gives an opportunity to our faculty and students to soptlight their insights, ideas and innovations to many people outside campus who are interested in what's happening at our college.  Newsletter helps our college stay connected and give college related news and information
            	</p>
            	
            	
            
               <#list newsletterPageNewsLetterList as newsletterPageNewsLetter>
               <p>${newsletterPageNewsLetter.heading!}  <a href="${newsletterPageNewsLetter.imageURL!}" class="time_table_link" target="_blank">[view here]</a></p>
               </#list>
            </div>
         </div>
      </div>
   </div>
</section>
</@page>